<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" autoReload="true">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <variable name="HeaderLayout" value="&#xD;&#xA;********************************************************************************************&#xD;&#xA;                Application: ${gdc:item=appname}, Version: ${gdc:item=version}&#xD;&#xA;********************************************************************************************&#xD;&#xA;&#xD;&#xA;----------------- Logging started on ${longdate} -----------------${newline}${newline}"




                                                                                       />
    <targets>
      <target name="file-debug"
     xsi:type="File"
     layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${exception:format=ToString,StackTrace}${newline}inner exception is as follows${newline}${exception:innerformat=ToString,StackTrace:maxInnerExceptionLevel=5}${newline}}"
     fileName="${basedir}/logs/Log.Debug.Current.txt"
     archiveFileName="${basedir}/logs/archives/Log.Debug.{#}.txt"
     archiveEvery="Day"
     archiveNumbering="Rolling"
     createDirs="true"
     maxArchiveFiles="5"
     concurrentWrites="true"
     keepFileOpen="false"
     encoding="iso-8859-2"
     header="${HeaderLayout}"
     footer="${newline}${newline}----------------- Logging finished on ${longdate} -----------------${newline}"/>
    </targets>
    <targets>
      <target name="file-info"
     xsi:type="File"
     layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${exception:format=ToString,StackTrace}${newline}inner exception is as follows${newline}${exception:innerformat=ToString,StackTrace:maxInnerExceptionLevel=5}${newline}}"
     fileName="${basedir}/logs/Log.Info.Current.txt"
     archiveFileName="${basedir}/logs/archives/Log.Info.{#}.txt"
     archiveEvery="Day"
     archiveNumbering="Rolling"
     createDirs="true"
     maxArchiveFiles="5"
     concurrentWrites="true"
     keepFileOpen="false"
     encoding="iso-8859-2"
     header="${HeaderLayout}"
     footer="${newline}${newline}----------------- Logging finished on ${longdate} -----------------${newline}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file-debug"/>
      <logger name="*" minlevel="Info" writeTo="file-info"/>
    </rules>
  </nlog>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
